Repository AlexWayfer/flame-flash: changes, and which Cirrus tasks are due for each by the changed paths.
All: rubocop, test

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - cat .cirrus*
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script: bundle update

rubocop_task:
  container:
    image: ruby:2.7
  <<: *bundle_cache
  script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**/*.rb', '**/*.ru'
    )

test_task:
  depends_on:
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[b6e9001b278ce85b9a93a3ba280adce5a1523cfad2a9264d60a76f6338528045d350574065e6a8079fd5dfcb3ac4c656]
  script: bundle exec rake
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec',
      '**/*.rb', '**/*.ru'
    )

Improve Cirrus CI configuration
  .cirrus.yml
Due: rubocop, test

Run tests in CI after `*.erb` files changes
  .cirrus.yml
Due: rubocop, test

Enable new cops from RuboCop 0.82, fix changed
  .rubocop.yml
  flame-flash.gemspec
Due: rubocop, test

Enable new cops from RuboCop 0.83
  .rubocop.yml
Due: rubocop

Add renovate.json
  renovate.json
Due: none

Relax `gorilla_patch` version lock
  flame-flash.gemspec
Due: rubocop, test

Enable new cops from RuboCop 0.84, 0.85 and 0.86
  .rubocop.yml
Due: rubocop

Enable all new RuboCop cops by default
  .rubocop.yml
Due: rubocop

Update to a new gem template
  .cirrus.yml
  .editorconfig
  .gitignore
  .remarkrc.yaml
  .rspec
  .rubocop.yml
  .toys.rb
  CHANGELOG.md
  LICENSE.txt
  README.md
  Rakefile
  flame-flash.gemspec
  package.json
  spec/flame/flash/flash_object_spec.rb
Due: rubocop, test

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Fix an issue with duplicate keys in Cirrus CI config
  .cirrus.yaml
Due: none

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yaml
  .toys.rb
Due: rubocop, test

Remove patch-version lock for stable `rubocop`
  flame-flash.gemspec
Due: rubocop, test

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  flame-flash.gemspec
Due: rubocop, test

Disable unnecessary RSpec RuboCop cops
  .rubocop.yml
Due: rubocop

Update `remark` to new major version
  .remarkrc.yaml
  package.json
Due: none

Allow Ruby 3 in gem specs
  flame-flash.gemspec
Due: rubocop, test

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: none

Avoid Ruby 4 in gem specs
  flame-flash.gemspec
Due: rubocop, test

Update `flame` to the latest RC version
  flame-flash.gemspec
Due: rubocop, test

Make `FlashObject` private, test `Flame::Flash` better
  .gitignore
  lib/flame/flash/flash_array.rb
  lib/flame/flash/flash_object.rb
  spec/flame/flash/flash_object_spec.rb
  spec/flame/flash_spec.rb
  spec/flame/views/by_type.erb
Due: rubocop, test

Remove `flash.scope` method
  lib/flame/flash.rb
  lib/flame/flash/flash_array.rb
  lib/flame/flash/flash_object.rb
Due: rubocop, test

Move gem version to a separate file
  flame-flash.gemspec
  lib/flame/flash.rb
  lib/flame/flash/version.rb
Due: rubocop, test

Update `gem_toys` to a new version
  flame-flash.gemspec
Due: rubocop, test

Remove git version of `flame`
  Gemfile
Due: rubocop, test

Add a bit code documentation
  lib/flame/flash.rb
  lib/flame/flash/flash_array.rb
  lib/flame/flash/flash_object.rb
Due: rubocop, test
