Repository AlexWayfer/flame-flash: changes, and which Cirrus tasks are due for each by the changed paths.
All: rubocop, test

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - cat .cirrus*
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script: bundle update
  container:
    image: ruby:2.7
  script: bundle exec rubocop

test:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - cat .cirrus*
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script: bundle update
  depends_on:
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Update version to 3.0.1.rc3
  CHANGELOG.md
  lib/flame/flash/version.rb
Due: rubocop, test

Configure Renovate
  renovate.json
Due: none

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offense about private constant
  lib/flame/flash.rb
Due: rubocop, test

Resolve new RuboCop offenses about `it_behaves_like`
  spec/flame/flash_spec.rb
Due: rubocop, test

Improve updating system gems in CI
  .cirrus.yaml
Due: none

Resolve new `bundle update` deprecation warning in CI
  .cirrus.yaml
Due: none

Remove `Rakefile` from Cirrus CI configuration
  .cirrus.yaml
Due: none

Remove Code Climate badge from README
  README.md
Due: none

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  flame-flash.gemspec
Due: rubocop, test

Resolve new RuboCop offenses
  lib/flame/flash.rb
Due: rubocop, test

Fail `remark` on any warning
  package.json
Due: none

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: none

Update `gem_toys` and `toys` dependencies in template
  Gemfile
Due: rubocop, test

Remove `bundler` as development dependency
  Gemfile
Due: rubocop, test

Update runtime dependencies
  flame-flash.gemspec
Due: rubocop, test

Add Ruby 4.0 support
  .cirrus.yaml
  flame-flash.gemspec
Due: rubocop, test

Update RuboCop and its plugins
  Gemfile
Due: rubocop, test

Update version to 3.0.1
  CHANGELOG.md
  lib/flame/flash/version.rb
Due: rubocop, test

Path conditions:
  rubocop: any of: .cirrus.yml, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **/*.rb, **/*.ru
  test: any of: .cirrus.yml, Gemfile, Rakefile, .rspec, *.gemspec, **/*.rb, **/*.ru
